@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 837px;
  background-color: rgb(255, 248, 243);
  background-image: url("./images/developer.png"), url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left center, right bottom;
  background-position-x: 25px, right;
}
header > nav {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > nav > p {
  font-size: 45px;
  font-weight: 800;
}
.custom-p-color {
  color: rgb(253, 110, 10);
}
header > nav > ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}
header > nav > ul a {
  text-decoration: none;
  color: rgb(71, 71, 71);
}
.nav-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 18px 35px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  margin-left: 230px;
  margin-right: 40px;
}
.banner-content {
  width: 585px;
  align-self: center;
}
.banner-greetings {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
}
.banner-content > h1 {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-description {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-btn-1 {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 18px;
  border: none;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  margin-right: 30px;
}
.banner-btn-2 {
  color: rgb(253, 110, 10);
  font-size: 20px;
  font-weight: 700;
  border: 1px solid rgb(253, 110, 10);
  border-radius: 5px;
  padding: 20px 18px;
}
main {
  width: 1140px;
  margin: 130px auto;
}
.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  border-radius: 10px;
  background: rgb(255, 248, 243);
  margin-bottom: 130px;
}
.about-me-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 827px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.about-me-heading {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.about-me-description {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.about-me-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.about-me-details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me-details-section > p {
  font-size: 20px;
  color: rgb(117, 117, 117);
}
.about-me-details-section > h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(71, 71, 71);
}
.skills-section {
  margin-bottom: 130px;
}
.skills-info {
  width: 990px;
  margin: 0 auto;
}
.skills-info > h2 {
  color: rgb(24, 24, 24);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.skills-info > p {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.skills-cards {
  display: flex;
  justify-content: space-between;
}
.skills-cards > div {
  width: 267px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 5px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.skills-card-inner {
  padding: 30px;
}
.skills-card-inner > img {
  margin-bottom: 30px;
}
.skills-card-inner > h3 {
  color: rgb(24, 24, 24);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.skills-card-inner > p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.resume-section {
  margin-bottom: 115px;
}
.resume-section > h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 115px;
  text-align: center;
}
.resume-columns-container {
  display: flex;
  justify-content: space-between;
}
.resume-columns > div {
  width: 510px;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.resume-columns > h2 {
  color: rgb(71, 71, 71);
  font-size: 30px;
  font-weight: 700;
}
.resume-columns > div > h2 {
  color: rgb(71, 71, 71);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}
.resume-columns>div>h3 {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-columns>div>p {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.skills-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.skills-btn > button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 18px;
  border: none;
  border-radius: 5px;
  background: rgb(253, 110, 10);
}
footer {
  height: 780px;
  background: rgb(255, 248, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-inner-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-inner-section > div {
  width: 565px;
}
.footer-inner-section>div>h2 {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-inner-section>div>p {
  color: rgb(71, 71, 71);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.footer-inner-section>div>div>img {
  margin-right: 25px;
}
form > input, textarea {
  box-sizing: border-box;
  resize: none;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  padding: 18px 350px 18px 30px;
  width: 100%;
}
form>input,
textarea::placeholder {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
}
input[type="submit"] {
  width: 150px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  padding: 20px 40px;
}
